.brand-filter-buttons {
  color: rgb(53, 53, 53);
  background-color: white;
  font-size: clamp(12px, 12px, 10%);
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  width: 100%; /* Use 100% width to fill the entire container */
  display: flex;
  justify-content: flex-end; /* Align content to the end (right side) */
  align-items: center; /* Align items in the center vertically */
  padding: 0; /* Remove any default padding */
  opacity: 100%; /* Use a decimal value for opacity, e.g., 0.5 for 50% */
}

.brand-filter-buttons.active {
  font-weight: 650;
  font-size: 15px;
  color: black;
}
