.brand-filter-buttons {
  color: black;
  font-family: Inter;
  font-size: clamp(12px, 12px, 10%);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 9;
  background-color: transparent !important;
  cursor: pointer;
  border-color: transparent;
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20%;
}

.button-filter-brand {
  font-weight: bold;
  text-transform: capitalize;
}

.brand-filter-buttons.active {
  font-weight: bold;
}

.brand-filter-buttons:nth-child(1) {
  font-style: normal;
  text-transform: capitalize;
  margin-bottom: 7px;
  letter-spacing: 1.2px;
  font-size: clamp(12px, 12px, 10%);
}
