/* Layout 3 styles */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}



.work-items {
  display: grid;
  height: 100dvh;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "sidebar cards";
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  position: relative;
  width: 100%;
}

.filter-items {
  grid-area: cards;
  position: relative;
  width: 100%;
}

.btn-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: space-between; /* Equal spacing between items */
  gap: 0.5em;
  padding: 1em;
  margin: 1em;
  overflow: hidden;
  background-color: none;
  z-index: 5;
}

.btn-container button {
  font-family: "Inter", sans-serif; /* Set Inter font family */
  text-transform: uppercase;
  background-color: transparent; /* Set background color to transparent */
  color: #ffffff; /* Set text color */
  border: none; /* Remove border */

  cursor: pointer; /* Add pointer cursor on hover */
  font-weight: normal; /* Set font weight to normal (not bold) by default */
}

.btn-container button.filter-btn {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.3s, color 0.3s, font-weight 0.3s; /* Add transition for smooth hover effect */
}

.btn-container button.filter-btn:hover,
.btn-container button.filter-btn.active {
  background-color: #2980b9; /* Change background color on hover or when active */
  color: #ffffff; /* Change text color on hover or when active */
  font-weight: bold; /* Set font weight to bold on hover or when active */
}

.layoutSingle {
  --auto-grid-min-size: 12rem;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--auto-grid-min-size), 1fr)
  );

  padding: 0rem;

  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.layoutSingle .item {
  position: relative;
  display: flex;
  flex-direction: row; /* Stack children vertically */
  align-items: center; /* Center children along the x-axis */
  aspect-ratio: 3/2;
  height: 100%;
  width: 100%;
  justify-self: center;
}

.layoutSingle .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layoutSingle .item-title {
  position: absolute;
  font-size: 12px;
  color: white;
  z-index: 2;
}
