.item-background-container {
  height: 100vh;
  width: 100vw;
  background-color: #ffff;
  overflow: hidden;
  position: fixed;
}

.item-thumbnail-container {
  align-items: center;
  position: relative;
  display: flex;
  place-content: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
}

.item-thumbnail-image {
  aspect-ratio: 4/2;
  object-fit: cover;
  transform: scale(0.25);
  width: 100%;
  height: 100%;
}

.item-titles {
  width: 100dvw;
  height: 100dvh;
}

.brand-title {
  top: 15%;
  left: 33%; /* Anchor to the left side */
  display: flex;
  position: absolute;
  color: rgba(158, 158, 158, 1);
  font-family: Poppins;
  letter-spacing: 0.2em;
  font-style: bold;
  font-weight: 500;
  font-size: 16px;
}

.item-title {
  top: 18%;
  left: 33%; /* Anchor to the left side */
  display: flex;
  position: absolute;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  font-family: Poppins;
  letter-spacing: 0.18em;
  font-style: bold;
  font-weight: 600;
  font-size: 32px;
}

.item-credits {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(45deg);
  top: 10%;
  left: 50%; /* Anchor to the left side */
  display: flex;
  position: absolute;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  font-family: Poppins;
  letter-spacing: 0.18em;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
}

.brand-sidebar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  gap: 2em;
}

.brand-button-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  gap: 2em;
  top: 10%;

  .button {
    font-family: "Inter", sans-serif; /* Set Inter font family */
    text-transform: uppercase;
    background-color: transparent; /* Set background color to transparent */
    color: #ffffff; /* Set text color */
    border: none; /* Remove border */
  
    cursor: pointer; /* Add pointer cursor on hover */
    font-weight: normal; /* Set font weight to normal (not bold) by default */
  }
}



  
  .btn-container button.filter-btn {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: normal;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s; /* Add transition for smooth hover effect */
  }
  
  .btn-container button.filter-btn:hover,
  .btn-container button.filter-btn.active {
    background-color: #2980b9; /* Change background color on hover or when active */
    color: #ffffff; /* Change text color on hover or when active */
    font-weight: bold; /* Set font weight to bold on hover or when active */
  }
  
