.item-background-container {
  height: 100vh;
  width: 100%;
  background-color: #ffff;
  display: grid;
  grid-template-areas:
    "... titles ..."
    "brands content credits"
    "... arrow ...";
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: hidden;
}

.brand-filter-sidebar {
  grid-area: brands;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px; /* Adjust as needed */
}

.brand-filter-buttons {
  color: black;
  font-family: Inter;
  font-size: clamp(12px, 12px, 10%);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 9;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20%;
}

.brand-filter-buttons.active {
  font-weight: bold;
}

.brand-filter-buttons:nth-child(1) {
  font-style: regular;
  text-transform: capitalize;
  margin-bottom: 7px;
  letter-spacing: 1.2px;
  font-size: clamp(12px, 12px, 10%);
}

.item-content-container {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  transform: scale(0.9);
}

.item-image-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(1);
  aspect-ratio: 16/7;
  margin-top: 18px;
  margin-bottom: 18px;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  transform: translateX(9%);
  margin-bottom: 9px;
  width: 100%;
}

.brand-title {
  color: rgba(158, 158, 158, 1);
  font-family: Poppins;
  letter-spacing: 0.2em;
  font-style: bold;
  font-weight: 500;
  font-size: clamp(15px, 80%, 70%);
  place-content: flex-start;
  align-items: left;
  text-align: left;
}

.item-title {
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  font-family: Poppins;
  letter-spacing: 0.18em;
  font-style: bold;
  font-weight: 600;
  font-size: clamp(21px, 100%, 100%);
}

.nextprev-button-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  background-color: transparent;
  gap: 18px; /* Adjust as needed */
  transform: translateX(-9%);
  margin-top: 9px;
}

.button-prev,
.button-next {
  background-color: transparent;
  border: none;
}

.button-prev img,
.button-next img {
  width: 21px; /* Adjust as needed */
  height: 21px; /* Adjust as needed */
  object-fit: contain; /* Maintain aspect ratio */
  background-color: transparent; /* Ensure transparency */
  border: none; /* Remove button border */
  cursor: pointer;
}

.item-credits {
  grid-area: credits;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  font-family: Poppins;
  letter-spacing: 0.18em;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
}
